/Backend/venv
/Backend/SmartPlatform/.idea
/Backend/SmartPlatform/media

*/__pycache__/
*.cache
*.egg-info
*.pyc
*.pyo
*.pyd
*.log

*.db
*.db.sqlite3
*.db.sqlite3-journal


/Frontend/.idea
/Frontend/node_modules