body {
    box-sizing: border-box;
    background-color: #f0f2f5;
    font-family: Roboto, sans-serif;
}

body::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 3px solid #fff;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.App{
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}